---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import Button from "../components/Button.astro";
---
<MainLayout title="Titel">
	<main class="container mx-auto p-4">
		<p>Til <Link href="/komponentbibliotek">komponentbiblioteket</Link></p>
		<Button variant="primary" size="large">Click Me</Button>
	</main>
</MainLayout>